.Tab {
    font-family: "Courier New", Courier, monospace;
    font-size: 26px;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
}

.TabContainer {
    margin: auto;
    width: 80%;
}

/*.tab-row {
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}*/

.Bar {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    display: inline-block;
}

.vl {
    background-color: black;
}

.Note {
    width: 10px;
}

.string {
    border: none;
}
